.container {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  padding: 16px;
  border-radius: 4px;
  background: #f6f6f5;
}

.previewImage {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.fileName {
  max-width: 199px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #262626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileSize {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #575756;
}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #ffffff;
  cursor: pointer;
}
